*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    color: white;
    background-image: url("../img/jumbo.png");
    min-height: 500px;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    display: flex;
    padding-top: 25px;
}

nav > a{
    text-decoration: none;
    color: white;
}

.button-bianco{
    border-radius: 15px 15px 15px 15px;
    border: 1px solid white;
    padding: 4px;
    text-decoration: none;
    color: black;
    background-color: white;
}

nav{
    width: calc(100%/3);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.p-header{
    color: white;
    text-align:center;
    width: 40%;
}
h1{
    margin-top: 100px;
   margin-bottom: 50px;
   font-size: 3em;
}
p{
    margin-bottom: 0.3em;
}

.buttons{
    text-align: center;
    padding: 20px;
}

#button-nero{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #23272a;
    padding: 9px;
    text-decoration: none;
    color: white;
    background-color: #23272a;
}
#button-bianco{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid white;
    padding: 9px;
    text-decoration: none;
    color:  rgb(39, 39, 39);
    background-color: white;
    margin-right: 20px;
}

.sec-1{
    display: flex;
    background-color: white;
    align-items: center;
}
h2{
    margin-bottom: 50px;
    font-size: 2.5em;
}

.sec-2{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}
.foto-2{
    order: 2;
}
.sec-3{
    display: flex;
    align-items: center;
    background-color: white;
}
.sec-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}
.foto-4{
    order: 2;
}
.par{
    margin-top: 80px;
    text-align: center;
    width: 50%;
    order: 1;
}



.divh3{
    background-image: url("../img/stars.svg");
    /* background-size:cover; */
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.h3{
    font-size: 1.8em;
}
#button-blu{
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #8ea1e1;
    padding: 9px;
    text-decoration: none;
    color:  white;
    background-color: #8ea1e1;
    margin-right: 20px
}

footer{
    background-color: #23272a;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

ul{
    list-style-type: none;
}
li{
    color: white;
}
h4{
    color: #7289da;
}
h3{
    color: #7289da;
}
.ita{
    height: 13px;
}
.loghetto{
    padding-top: 50px;
}

.fa-brands{
    font-size: 20px;
    padding-right: 5px;
    padding-top: 10px;
}